.trends-box{
  background-color: white;
  padding-top: 2rem;
  padding-left: 2rem;
  width: 100%;
  border-radius: 1.8rem;
  display: flex;
  flex-direction: column;
}
.trend{
  margin: 1rem 0;
  padding-left: 1rem;
}
.big-share-btn{
  font-size: 2.5rem;
  font-weight: 900;
  width: 80%;
  padding-block: .25em;
  background-color: orange;
  border-radius: 1rem;
  color: white;
}
