.lazy-image-parent {
  position: relative;
  overflow: hidden;
  background-color: #313131;
  aspect-ratio: 1/1;
}
.lazy-image-wrapper {
    width: 100%;
    height: 100%;    
}

.animating {
  animation: skeleton 0.8s ease alternate infinite;
}

@keyframes skeleton {
  50% {
    opacity: 50%;
  }
}

.lazy-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
